<nav>
	<div aria-label="site branding">
		{% if page.layout == 'post' %}
            <a href="{{ site.url }}">
                <img src="/assets/logo.png" alt="orange gradient circle logo" />
            </a>
			<div>
				<a href="/" aria-label="site publisher">gaëtan.cool</a> / {{ page.title }}
			</div>
		{% elsif page.layout == 'tag' %}
            <a href="{{ site.url }}">
                <img src="/assets/logo.png" alt="orange gradient circle logo" />
            </a>
			<div>
				<a href="/" aria-label="site publisher">gaëtan.cool</a> / {{ page.tag }}
			</div>
		{% else %}
			<a href="{{ site.url }}">
				<img src="/assets/logo.png" alt="orange gradient circle logo" />
			</a>
			<p aria-label="site publisher">gaëtan.cool</p>
		{% endif %}
	</div>
	<div>
		<a href="/about">about</a>
	</div>
</nav>