@import 'reset';
@import 'fonts';

body {
	background: var(--background);
	color: var(--text-hc);
	font-family: 'p22-mackinac-pro', serif;
	margin: 0;
	min-height: 100%;
}

// *:target {
// 	background: $dark;
// }

.w {
	max-width: 720px;
	margin: 0 auto;
	padding: 2rem;
}

code {
	font-family: 'monocraft', monospace;
	color: var(--text-hc);
	background: var(--border);
	padding: 0.5rem;
	display: inline-block;
	width: 100%;

	.kd {
		color: #ffad66;
		font-weight: bold;
	}

	.nx {
		color: #f2dbc0;
	}

	.o {
		color: #fca17d;
	}

	.p {
		color: #c4b7a6;
	}

	.s1 {
		color: #a0e8af;
		font-style: italic;
	}

	.mi {
		color: #85c1ff;
	}

	.dl {
		color: #a0e8af;
	}
}

.inline-code {
	padding: 0.25rem;
	width: fit-content;
	line-height: 80%;
	font-size: 0.875rem;
}

blockquote {
	padding-left: 2rem;
	border-left: 2px solid var(--border);
	p {
		margin: 0;
		font-style: italic;
	}
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

p,
span {
	color: var(--text-md);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	> div {
		display: flex;
		align-items: center;
		gap: 1rem;

		p {
			color: var(--text-hc);
		}
	}

	img {
		margin: unset;
	}

	a {
		color: var(--text-md);
		&:hover {
			color: var(--text-hc);
		}
	}
}

header {
	margin-top: 6rem;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

h1,
h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1rem;
}

h1 {
	margin-bottom: 1rem;
}

h2 {
	margin-bottom: 2rem;
}

hr {
	border: 1px solid var(--border);
	margin: 2.75rem 0;
}

a {
	color: var(--text-hc);

	&:hover {
		text-decoration: underline;
	}
}

time {
	color: var(--text-md);
}

.articles {
	h3 {
		margin-bottom: 1.5rem;
		&:not(:first-of-type) {
			margin-top: 3.5rem;
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		li {
			display: grid;
			grid-template-columns: 3rem 1fr;
			gap: 2rem;
		}
	}
}

article {
	h3 {
		font-size: 1.125rem;
	}

	h4 {
		font-size: 1rem;
	}

	h3,
	h4 {
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}

	ul {
		list-style: disc;
		list-style-position: inside;
	}

	ol {
		list-style: lower-roman;
		list-style-position: inside;
	}

	p {
		margin-top: 1rem;
	}

	strong {
		color: var(--text-hc);
	}

	a {
		color: var(--text-hc);
		text-decoration: underline;
		text-underline-offset: 0.1rem;
		text-decoration-skip-ink: auto;
		&:hover {
			color: var(--text-md);
		}
	}
}

.social-links {
	a {
		color: var(--text-hc);
	}
}

footer {
	font-size: 0.875rem;
}

sup {
	color: var(--text-md);
}
