@import 'reset';
@import 'fonts';

//base scss color variables
$black: #030302;
$mid: #a49f93;
$light: #fcf2d7;
$dark: #302f2d;

body {
	background: $black;
	color: $light;
	font-family: 'p22-mackinac-pro', serif;
	margin: 0;
	min-height: 100%;
}

*:target {
	background: blue;
}

.w {
	max-width: 720px;
	margin: 0 auto;
	padding: 2rem;
}

code {
	color: white;
	background: black;
}

blockquote {
	font-style: italic;
	border: thin solid black;
	padding: 1rem;

	p {
		margin: 0;
	}
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

p,
span {
	color: $mid;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	> div {
		display: flex;
		align-items: center;
		gap: 1rem;

		p {
			color: $light;
		}
	}

	img {
		margin: unset;
	}

	a {
		color: $mid;
		&:hover {
			color: $light;
		}
	}
}

header {
	margin-top: 6rem;
}

h1,
h2 {
	font-size: 1.25rem;
}

h3 {
	font-size: 1rem;
}

h1 {
	margin-bottom: 1rem;
}

h2 {
	margin-bottom: 2rem;
}

hr {
	border: 1px solid $dark;
	margin: 2.75rem 0;
}

a {
	color: $light;
}

.articles {
	h3 {
		margin-bottom: 1.5rem;
		&:not(:first-of-type) {
			margin-top: 3.5rem;
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		li {
			display: grid;
			grid-template-columns: 3rem 1fr;
			gap: 2rem;

			time {
				color: $mid;
			}
		}
	}
}

.social-links {
	a {
		color: $light;
	}
}

footer {
	font-size: 0.875rem;
}

sup {
	color: $mid;
}
